services:
  front:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    links:
      - database:db
  database:
    image: postgres:latest
    ports: 
       - '5432:5432'
    volumes:
      - ~/apps/postgres:/var/lib/postgresql/data
    environment:
    - POSTGRES_USER=root
    - POSTGRES_PASSWORD=hackRPIX  